*{
  margin:0;
  padding: 0;
}

/*.......section1.....*/
.header video {
  height: 100%;
  width: 100%;
}
.header  video{
  position: relative;
}
.image img{
  height: 100px;
  width: 100px;
  margin-left: 40px;
}

.nav{
  position: absolute;
  top: 20px;
  display: flex;
}

.header ul {
   margin-left:280px;
	list-style-type:none;
	margin-top:30px;
}
.header ul li{
	display:inline-block;
}


.header ul li a{
  font-size: 12px;
  text-decoration:none;
	color:white;
  font-weight: bold;
  font-family: sans-serif;
	padding:10px 15px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
  color:#E1A87A;
}
.contact{
   margin-left: 150px;
}
.header-title{
  position: absolute;
  top: 200px;
  left: 80px;
  font-size: 100px;
  color: white;
}

.header-button{
  position: absolute;
  top: 480px;
  left: 80px;
}

.header-button .btn{
  border: 1px solid #E1A87A;
  padding: 20px 30px;
  margin-right: 20px;
  font-size: 12px;
}
.header-button .btn1{
  font-size: 12px;
}

.header-button .btn1:hover{
  color:#888181;
}
.header-button .btn1 i:hover{
  background: #888181;
}

.header-button a {
 color: white;
font-family: sans-serif;
 text-decoration: none;
}

.header-button .btn:hover {
 color: black;
 background: #E1A87A;
}
.header-button a i{
  border: 1px solid transparent;
  padding: 15px 16px;
  padding-left: 20px;
  border-radius: 50%;
  color: black;
  background: white;
}

.header-button .btn1 span {
   margin-left: 10px;
}

/*.......section2.....*/
.section2
{
  background: #f0f0f0;
  width: 100%;
  display:flex;

}
.section2-image{
 width:50%;

}
.section2-image img{
  height: 80vh;
  width: 50%;
  margin-top:100px;
  margin-left: 20%;
  margin-bottom: 100px;


}

.section2-details{
  width: 50%;


}
.section2-details h1{
  font-size: 45px;
  margin-top: 250px;
  margin-right: 100px;
  font-weight: 400;
  font-family: serif;
}

.section2-details h3{
  font-size: 17px;
  margin-right: 130px;
  margin-top: 10px;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 30px;
}


/*.......section3.....*/
.section3{
  background: black;
  width: 100%;
  display:flex;
  flex-direction: column;
justify-content:space-around;
}

.section3 .row1 , .section3 .row2 , .section3 .row3{
  color: white;
}

.section3 .row1 h1{
  font-size:45px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top:120px;
  margin-bottom: 100px;
}


.section3 .row2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
font-size: 12px;
margin-bottom: 100px;
font-family: sans-serif;
}

.section3 .row2 .col1{
  width: 30%;

}
.section3 .row2  h2{
  color: #E1A87A;
  text-align: center;
  margin-bottom: 15px;
}

.section3 .row2 h3{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #F0F0F1;
  line-height: 30px;
  font-weight: normal;

}
.section3 .row2 .col2{
  width: 30%;
}

.section3 .row2 .col3{
  width: 30%;
}

.section3 .row3 h3{
  text-align: center;
  margin-bottom: 120px;

}
.section3 .row3 span{
  border: 1px solid #E1A87A;
  padding: 20px 35px;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.section3 .row3 span:hover{
  background: #E1A87A;
  color: black;
}




/*.......section4.....*/
.section4{
  background: #f0f0f0;
  width: 100%;
  display:flex;
  flex-direction: column;
justify-content:space-around;
}

.section4 .row1 h1{
  font-size:45px;
  text-align: center;
  margin-top: 100px;
}
.section4 .row1 h2{
 padding: 0px 23%;
 line-height: 40px;
 text-align: center;
 font-family: sans-serif;
 font-size: 18px;
 font-weight: normal;
 margin-top: 20px;
 margin-bottom: 80px;
}

.section4 .row2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  grid-auto-flow: dense;
  grid-gap: 6%;
}

.section4 .row2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section4 .row2 .col2{
  margin-top: 60px;
}


.section4 .row3{
  margin-bottom: 200px;
  margin-top: 100px;
}

.section4 .row3 h3{
  text-align: center;

}

.section4 .row3 span{
  border: 1px solid #E1A87A;
  padding: 20px 35px;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.section4 .row3 span:hover{
  background:black;
  color: #E1A87A;
}







/*.......section5.....*/
.section5{
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section5-row1 h1{
  text-align: center;
  font-family: serif;
  font-size: 3rem;
margin-top: 100px;
margin-bottom: 20px;

}
.section5-row1 h3{
  text-align: center;
  padding: 10px 15%;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 20px;
}

.section5-row2 video{
  width: 80%;
  height: auto;
margin-left: 10%;
}

.section5-row3 {
  margin-top: 100px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image6.jpg);
  height:100vh;
	background-size:cover;
	background-position:center;
  object-fit: fill;
}


.section5-row3 h1{
  text-align: center;
  font-size: 14px;

  letter-spacing: 2px;
  margin-top: 100px;
  color: #E1A87A;
  font-family: sans-serif;
}

.section5-row3 h2{

  font-size: 3.1rem;
  color: white;
  padding: 10px 15%;
  text-align: center;
  margin-bottom: 50px;
}


.section5-row3 h3{
  text-align: center;

}

.section5-row3 span{
  border: 1px solid #E1A87A;
  padding: 20px 35px;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: white;

}

.section5-row3 span:hover{
  background:#E1A87A;
  color: black ;
}


.section5-row4 h1{
   text-align: center;
   margin-top: 100px;
   font-size: 3.2rem;

}


.section5-row5  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section5-row5  {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 0.65rem;
  grid-auto-flow: dense;
  margin: 20px 6%;
}

.section5-row5  .gallery-item {
  height: auto;
  margin: 0.5rem;
}


.section5-row6 h3{
  text-align: center;

 margin-bottom: 150px;
 margin-top: 40px;
}

.section5-row6 span{
  border: 1px solid #E1A87A;
  padding: 20px 35px;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: black;

}

.section5-row6 span:hover{
  background:black;
  color: #E1A87A ;
}








/*.......section6.....*/
.section6{
  background: #f0f0f0;
  width: 100%;
  display:flex;
  flex-direction: column;
justify-content:space-around;
}

.section6 .row1 h1{
  font-size:3.2rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}


.section6 .row2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  grid-auto-flow: dense;
  grid-gap: 6%;
}

.section6 .row2 img {
  width: 100%;
  height: 200%;
  object-fit: cover;
}



.section6 .row3{
  margin-bottom: 200px;

}

.section6 .row3 h3{
  text-align: center;
   margin-top: 500px;
}

.section6 .row3 span{
  border: 1px solid #E1A87A;
  padding: 20px 35px;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.section6 .row3 span:hover{
  background:black;
  color: #E1A87A;
}



.section6 .row2 h5{
  text-align: center;
  font-family: sans-serif;
  color: #E1A87A;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.section6 .row2 h4{

  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
}


/*.......section7.....*/
.footer{
  background: #1a1a1a;
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}


.footer .row1 h1{
color: white;
text-align: center;
font-size: 3.2rem;
margin-top:50px;
margin-bottom:70px;
}


.footer .row2 ul {

	list-style-type:none;

}
.footer .row2 ul li{
	display:inline-block;
}


.footer .row2 ul li a{
  font-size: 12px;
  text-decoration:none;
	color:white;
  font-weight: bold;
  font-family: sans-serif;
padding: 10px 30px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
.footer .row2 ul li a:hover{
  color:#888181;
}

.footer .row3{
  color: #888181;
  font-family:sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer .row3 a{
  color: #E1A87A;
}

.footer .row4 ul {

	list-style-type:none;
  margin-bottom: 30px;
}
.footer .row4 ul li{
	display:inline-block;
}


.footer .row4 ul li a{
  font-size: 12px;
	color:#E1A87A;
  font-weight: bold;
  font-family: sans-serif;
padding: 10px 5px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
.footer .row4 ul li a:hover{
  color:#888181;
}






.footer .row5 ul {

	list-style-type:none;
  margin-bottom: 100px;
}
.footer .row5 ul li{
	display:inline-block;
}


.footer .row5 ul li a{
     text-decoration:none;
      color: black;
      font-size: 10px;
      padding:10px 10px;
      background: white;
      border:1px solid white;
      border-radius: 50px;
      transition: 0.6s ease;
}
.footer .row5 ul li a:hover{
  color:#888181;

}

.footer .row5 .facebook{
  padding-left: 12px;
  padding-right: 12px;
}
